*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fefefe;
}

.logout-svg{
    position: absolute;
    text-align: right;
    color: red;
    width: 6rem;
    top: 10px;
    right: 30px;
}

.logout-svg svg{
    height: 1rem;
    width: 1rem;
    /* display: relative;
    top: 0;
    right: 0; */
}

.logout-svg a{
    text-decoration: none;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}
.container{
    margin: 2rem;
    justify-content: center;
}

.container h1{
    text-align: center;
}

.articles-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: flex-start;
}

.article, #other-comments{
    margin: 1rem 1rem 2rem 1rem;
    background-color: white;
    z-index: 100;
    border: 1px solid #999;
    padding: .5rem;
    box-shadow: 0 .9rem 10px -12px #aaaaaa;
}

.article .article-title{
    margin: .3rem auto;
}

.article .article-description{
    margin-bottom: .3rem;
}

#author-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #555;
}

#author-description div{
    display: flex;
    max-width: 50%;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article .actions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: .3rem auto;
}

.article .reaction-btn{
    width: 100%;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    align-items: center;
}

.read-more a{
    /* margin-left: 5rem; */
}

.reaction-btn p{
    text-align: left;
}

.reaction-btn a{
    width: 24px;
    /* margin-left: 3rem; */
}

.read-more{
    display: block;
}

.article .reaction-btn a:hover{
    cursor: pointer;
}

.comment, .read-more{
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}

.reaction-btn svg{
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto;
}


#other-comments, #intro-other-comments{
    color: black;
}

#other-comments #commenter{
    color: #555;
}


#intro-other-comments{
    margin: 1rem;
}