*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #555;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 250, 250);
    
}

.text-red{
    color: red;
    padding: 0;
}

.text-gold{
    color: gold;
}

.text-cyan{
    color:cyan;
}

.text-green{
    color: green;
}

#hotel-text{
    text-align: center;
    margin: 1rem auto;
    font-size: 3rem;
}

.container{
    background-color: white;
    max-width: 400px;
    padding: 2rem;
    margin: 3rem auto;
    box-shadow: 0  .1rem .9rem .021rem #333;
    border-radius: 1rem;
}

.container h2{
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

form div{
    margin: 1rem auto;
}
form label{
    text-align: right;
    display: inline-block;
    width: 6.5rem;
    font-size: 1.1rem;
}

form input, form select{
    font-size: 1rem;
    width: 14rem;
    height: 2rem;
    padding: .3rem .3rem 0 .3rem;
    border:none;
    border-bottom: 2px solid rgb(146, 145, 223);
}

#terms{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#terms-check{
    height: 1.2rem;
    margin: 0;
    padding: 0;
    width: 2rem;
}

#terms-check-text{
    margin: 0;
    padding: 0;
    text-align: left;
    width: 15rem;
    font-size: 1.1rem;
}

form button{
    display: block;
    margin: 1rem auto .3rem auto;
    width: 8rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: blue;
    border: none;
    border-radius: .3rem;
}

form button:hover{
    color:rgb(60, 58, 189);
    background-color: white;
    border-bottom: 2px solid rgb(60, 58, 189);
    box-shadow: 0 0 .1rem .07rem #777;
    cursor: pointer;
}

#register-text, #login-text, #forgot-password-text {
    margin: 1rem 0 .3rem 0;
    text-align: center;
}

#register-text a, #login-text a, #forgot-password-text a{
    text-decoration: underline;
    color: blue;
}

#require-text{
    margin: .5rem 0 .3rem 0;
    text-align: center;
    font-size: .7rem;
}

@media screen and (max-width: 460px) {
    #hotel-text{
        font-size: 100%;
    }
    .container{
        max-width: 240px;
    }

    form label{
        display: block;
        font-size: .9rem;
        text-align: center;
        width: 100%;
    }

    form input{
        display: block;
        width: 100%;
        text-align: center;
        font-size: .8rem;
        padding: auto 0;
    }

    #register-text, #login-text {
        margin: 1rem 0 .3rem 0;
        text-align: center;
        font-size: .8rem;
    }

    #terms-check{
        height: 1rem;
        margin: 0;
        padding: 0;
        width: 5rem;
    }
    
    #terms-check-text{
        width: 40rem;
        font-size: .75rem;
    }

    form button{
        display: block;
        margin: 1rem auto .3rem auto;
        width: 7rem;
        height: 1.6rem;
        text-align: center;
        font-size: .8rem;
        color: white;
        background-color: blue;
        border: none;
        border-radius: .3rem;
    }
}

@media screen and (max-width: 240px) {
    .container{
        max-width: 180px;
    }

    #register-text, #login-text, #require-text{
        font-size: .6rem;
    }
}